@model IEnumerable<LibraryApp.AppServices.Authors.DTO.GetAuthorOutput>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<form action="/Will/Register" method="post">
		<div>

			<input type="button" value="New" onclick="@("window.location.href='" + @Url.Action("New", "Will") + "'");" />

			<table>
				<tr>
					<th>Action</th>
					<th style="background-color: #3399FF">
						Id
					</th>
					<th style="background-color: #9999FF">
						Name
					</th>
					<th style="background-color: #6699FF">
						DOB
					</th>
				</tr>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.Id })
							@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure?');" })
						</td>
						<td>
							@item.Id
						</td>
						<td>
							@item.DisplayName
						</td>
						<td>
							@item.BirthDate.ToString("d")
						</td>
					</tr>
				}
			</table>
		</div>


	</form>
</body>
</html>
